
body{
  font-family: 'Oswald', sans-serif;

  header{
    background-color: #f8f8f8;
    height: auto;
    width: 600px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 5px 2px rgba(168,168,168,1);
    border-radius: 3px;
    margin: auto;
    margin-top: 20%;

    .container-menu{
      width: 100%;
      margin: 0 auto;

      .hamburger-menu {
        background: linear-gradient(to top, rgba(214,214,214,1) 0%, rgba(230,227,227,1) 40%, rgba(214,214,214,1) 100%);

        .menu__box {
          display: flex;
          align-items: center;
          padding-left: 80px;

          li {
            list-style-type: none;
            padding: 10px;
            float: none;
            position: relative;
            &:nth-child(1){
              margin-top: 20px;
            }
            display: inline-block;
            &:nth-child(1){
              margin-top: 0px;
            }

            a{
              text-decoration: none;
              color: #000;
              display: flex;
              font-size: 14px;

              .icon-arrow{
                display: flex;
                align-items: center;
                padding-left: 10px;
                padding-right: 10px;
              }

              .menu__box__li_desc{
                font-size: 12px;
                font-family: Arial, sans-serif;
              }
            }

            .menu__item {
              display: block;
              padding: 0px 0px;
              &:hover {
                color: #10c9c3;
              }
              color: #1c1d1c;
              text:{
                decoration: none;
                transform: uppercase;
              }
              &:hover {
                color: #10c9c3;
              }
            }
            ul.sub-menu{
              width: 300px;
              background-color: #dadada;
              position: absolute;
              z-index: 999;
              top: 80px;
              left: -9999px;
              opacity: 0;
              transition: opacity 0.5s ease-out, left 1s step-end;
              border: 1px solid #a8a8a8;
              border-radius: 8px;
              box-shadow: 0px 0px 5px 2px rgba(168,168,168,1);
              padding-left: 6%;

              li{
                display: block;
                position: relative;
                padding-left: 15px;
                padding-right: 20px;
                a{
                  display: block;
                  svg{
                    float: right;
                  }
                }


                a:hover{
                  color: #b3403b;
                }

                ul.sub-sub-menu {
                  width: 300px;
                  background-color: #dadada;
                  position: absolute;
                  z-index: 999;
                  opacity: 0;
                  transition: opacity 0.5s ease-out, left 1s step-end;
                  bottom: -50px;
                  left: -9999px;
                  border: 1px solid #a8a8a8;
                  border-radius: 8px;
                  box-shadow: 0px 0px 5px 2px rgba(168,168,168,1);
                  padding-left: 6%;
                }
                &:hover ul.sub-sub-menu {
                  opacity: 1;
                  left: 320px;
                  transition: opacity 0.5s ease-out, left 1s step-start;

                }
              }
              .menu-item-separator-hor{
                display: block;
                width: 95%;
                height: 1.1px;
                background-color: #a8a8a8;
              }
            }

            &:hover ul.sub-menu{
              left: 0px;
              opacity: 1;
              transition: opacity 0.5s ease-out, left 1s step-start;
            }
          }

          .menu__box__li:hover{
            border-bottom: 4px solid #b3403b;
            padding-bottom: 6px;
          }

          .menu-item-separator{
            display: inline-block;
            width: 1.1px;
            height: 32px;
            background-color: #a8a8a8;
          }
          .menu-item-separator-first{
            margin-left: 1px;
          }
          .menu-item-separator-last{

          }

        }
      }
    }
    .main-text{
      font-family: Arial, sans-serif;
      font-size: 12px;
      line-height: 22px;
    }
  }
}

