body {
  font-family: 'Oswald', sans-serif; }
  body header {
    background-color: #f8f8f8;
    height: auto;
    width: 600px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 5px 2px #a8a8a8;
    border-radius: 3px;
    margin: auto;
    margin-top: 20%; }
    body header .container-menu {
      width: 100%;
      margin: 0 auto; }
      body header .container-menu .hamburger-menu {
        background: linear-gradient(to top, #d6d6d6 0%, #e6e3e3 40%, #d6d6d6 100%); }
        body header .container-menu .hamburger-menu .menu__box {
          display: flex;
          align-items: center;
          padding-left: 80px; }
          body header .container-menu .hamburger-menu .menu__box li {
            list-style-type: none;
            padding: 10px;
            float: none;
            position: relative;
            display: inline-block; }
            body header .container-menu .hamburger-menu .menu__box li:nth-child(1) {
              margin-top: 20px; }
            body header .container-menu .hamburger-menu .menu__box li:nth-child(1) {
              margin-top: 0px; }
            body header .container-menu .hamburger-menu .menu__box li a {
              text-decoration: none;
              color: #000;
              display: flex;
              font-size: 14px; }
              body header .container-menu .hamburger-menu .menu__box li a .icon-arrow {
                display: flex;
                align-items: center;
                padding-left: 10px;
                padding-right: 10px; }
              body header .container-menu .hamburger-menu .menu__box li a .menu__box__li_desc {
                font-size: 12px;
                font-family: Arial, sans-serif; }
            body header .container-menu .hamburger-menu .menu__box li .menu__item {
              display: block;
              padding: 0px 0px;
              color: #1c1d1c;
              text-decoration: none;
              text-transform: uppercase; }
              body header .container-menu .hamburger-menu .menu__box li .menu__item:hover {
                color: #10c9c3; }
              body header .container-menu .hamburger-menu .menu__box li .menu__item:hover {
                color: #10c9c3; }
            body header .container-menu .hamburger-menu .menu__box li ul.sub-menu {
              width: 300px;
              background-color: #dadada;
              position: absolute;
              z-index: 999;
              top: 80px;
              left: -9999px;
              opacity: 0;
              transition: opacity 0.5s ease-out, left 1s step-end;
              border: 1px solid #a8a8a8;
              border-radius: 8px;
              box-shadow: 0px 0px 5px 2px #a8a8a8;
              padding-left: 6%; }
              body header .container-menu .hamburger-menu .menu__box li ul.sub-menu li {
                display: block;
                position: relative;
                padding-left: 15px;
                padding-right: 20px; }
                body header .container-menu .hamburger-menu .menu__box li ul.sub-menu li a {
                  display: block; }
                  body header .container-menu .hamburger-menu .menu__box li ul.sub-menu li a svg {
                    float: right; }
                body header .container-menu .hamburger-menu .menu__box li ul.sub-menu li a:hover {
                  color: #b3403b; }
                body header .container-menu .hamburger-menu .menu__box li ul.sub-menu li ul.sub-sub-menu {
                  width: 300px;
                  background-color: #dadada;
                  position: absolute;
                  z-index: 999;
                  opacity: 0;
                  transition: opacity 0.5s ease-out, left 1s step-end;
                  bottom: -50px;
                  left: -9999px;
                  border: 1px solid #a8a8a8;
                  border-radius: 8px;
                  box-shadow: 0px 0px 5px 2px #a8a8a8;
                  padding-left: 6%; }
                body header .container-menu .hamburger-menu .menu__box li ul.sub-menu li:hover ul.sub-sub-menu {
                  opacity: 1;
                  left: 320px;
                  transition: opacity 0.5s ease-out, left 1s step-start; }
              body header .container-menu .hamburger-menu .menu__box li ul.sub-menu .menu-item-separator-hor {
                display: block;
                width: 95%;
                height: 1.1px;
                background-color: #a8a8a8; }
            body header .container-menu .hamburger-menu .menu__box li:hover ul.sub-menu {
              left: 0px;
              opacity: 1;
              transition: opacity 0.5s ease-out, left 1s step-start; }
          body header .container-menu .hamburger-menu .menu__box .menu__box__li:hover {
            border-bottom: 4px solid #b3403b;
            padding-bottom: 6px; }
          body header .container-menu .hamburger-menu .menu__box .menu-item-separator {
            display: inline-block;
            width: 1.1px;
            height: 32px;
            background-color: #a8a8a8; }
          body header .container-menu .hamburger-menu .menu__box .menu-item-separator-first {
            margin-left: 1px; }
    body header .main-text {
      font-family: Arial, sans-serif;
      font-size: 12px;
      line-height: 22px; }
